[MASTER]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

# Pylint doesn't seem to be able to read pydantic imports so we need to
# whitelist the package. https://github.com/samuelcolvin/pydantic/issues/1961
extension-pkg-whitelist=pydantic
load-plugins=pylint_pydantic

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=missing-docstring,
        too-few-public-methods,
        invalid-name

[DESIGN]
max-attributes=20
